.Ativo {
    width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}


.atendimentoAtivos {
    width: 60rem;
    height: 33rem;
    margin: 0px;
}


@media (max-width: 992px) {
    .Ativo {
        height: 19rem;
    }
    
.atendimentoAtivos {
    height: 19rem;
}

}

.titleAtivo{
    color: #263a6d;
}

.HeaderAtivo{
    display: flex; 
    justify-content: space-between; 
}

.AtivoGrafico{
    width: 53rem;
}

#Ativo{
    width: 53rem;
}