/* O Hover da Mesma forma que a classe principal serve para O Bootsrap não ficar interferindo
com o hover padrão da classe btn */

.buttonCancelarFromModal {
    color: #fff;
    margin-bottom: 1rem;
    background-color: gray;
    width: 10rem;
    font-weight: bold;
}

.buttonCancelarFromModal:hover {
    color: #fff;
    margin-bottom: 1rem;
    background-color: gray;
    width: 10rem;
    font-weight: bold;
}

.buttonDeletarFromModal {
    color: #fff;
    margin-bottom: 1rem;
    background-color: red;
    width: 10rem;
    font-weight: bold;
}

.buttonDeletarFromModal:hover {
    color: #fff;
    margin-bottom: 1rem;
    background-color: red;
    width: 10rem;
    font-weight: bold;
}
