USE [chatbot]
GO
/****** Object:  Table [dbo].[atendentes]    Script Date: 11/20/2024 3:32:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[atendentes](
	[ate_id] [int] IDENTITY(1,1) NOT NULL,
	[ate_email] [varchar](255) NULL,
	[ate_Nome] [varchar](255) NULL,
	[ate_img] [varchar](max) NULL,
	[ate_senha] [varchar](255) NULL,
	[ate_estado] [bit] NULL,
	[log_id] [int] NULL,
	[dep_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Atendimento]    Script Date: 11/20/2024 3:32:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atendimento](
	[aten_id] [int] IDENTITY(1,1) NOT NULL,
	[aten_estado] [int] NULL,
	[aten_data] [datetime] NULL,
	[ate_id] [int] NULL,
	[dep_id] [int] NULL,
	[con_id] [int] NULL,
	[log_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[aten_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat]    Script Date: 11/20/2024 3:32:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat](
	[cha_id] [int] IDENTITY(1,1) NOT NULL,
	[ate_id] [int] NULL,
	[log_id] [int] NULL,
	[con_id] [int] NULL,
	[aten_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cha_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contatos]    Script Date: 11/20/2024 3:32:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contatos](
	[con_id] [int] IDENTITY(1,1) NOT NULL,
	[con_WaId] [varchar](255) NULL,
	[con_nome] [varchar](255) NULL,
	[con_DataCadastro] [datetime] NULL,
	[con_BloqueadoStatus] [bit] NULL,
	[log_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[con_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departamento]    Script Date: 11/20/2024 3:32:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamento](
	[dep_id] [int] IDENTITY(1,1) NOT NULL,
	[dep_descricao] [varchar](255) NULL,
	[log_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[dep_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 11/20/2024 3:32:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[log_email] [varchar](255) NULL,
	[log_senha] [varchar](255) NULL,
	[log_img] [varchar](max) NULL,
	[log_plano] [varchar](255) NULL,
	[log_user] [varchar](255) NULL,
	[log_tipo] [int] NULL,
	[log_waid] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mensagens]    Script Date: 11/20/2024 3:32:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensagens](
	[mens_id] [int] IDENTITY(1,1) NOT NULL,
	[mens_data] [datetime] NULL,
	[mens_descricao] [varchar](max) NULL,
	[men_tipo] [int] NULL,
	[men_WaId] [varchar](max) NULL,
	[mens_status] [int] NULL,
	[con_id] [int] NULL,
	[log_id] [int] NULL,
	[cha_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[mens_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menus]    Script Date: 11/20/2024 3:32:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menus](
	[men_id] [int] IDENTITY(1,1) NOT NULL,
	[men_header] [varchar](255) NULL,
	[men_footer] [varchar](255) NULL,
	[men_body] [varchar](255) NULL,
	[log_id] [int] NULL,
	[men_tipo] [int] NULL,
	[men_title] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[men_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[options]    Script Date: 11/20/2024 3:32:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[options](
	[opt_id] [int] IDENTITY(1,1) NOT NULL,
	[men_id] [int] NULL,
	[log_id] [int] NULL,
	[opt_data] [datetime] NULL,
	[opt_descricao] [varchar](500) NULL,
	[opt_finalizar] [bit] NULL,
	[opt_resposta] [varchar](500) NULL,
	[opt_tipo] [int] NULL,
	[opt_title] [varchar](24) NULL,
PRIMARY KEY CLUSTERED 
(
	[opt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[atendentes] ON 

INSERT [dbo].[atendentes] ([ate_id], [ate_email], [ate_Nome], [ate_img], [ate_senha], [ate_estado], [log_id], [dep_id]) VALUES (1, N'emailTeste@gmail.com', N'Pedro', NULL, N'atendente@123', 1, 1, 1)
INSERT [dbo].[atendentes] ([ate_id], [ate_email], [ate_Nome], [ate_img], [ate_senha], [ate_estado], [log_id], [dep_id]) VALUES (2, N'miguelBunitu@123.com', N'Miguel', NULL, N'senai.123', 1, 1, 2)
SET IDENTITY_INSERT [dbo].[atendentes] OFF
GO
SET IDENTITY_INSERT [dbo].[Atendimento] ON 

INSERT [dbo].[Atendimento] ([aten_id], [aten_estado], [aten_data], [ate_id], [dep_id], [con_id], [log_id]) VALUES (1, 2, CAST(N'2024-11-20T14:42:59.590' AS DateTime), 1, 1, 2, 1)
INSERT [dbo].[Atendimento] ([aten_id], [aten_estado], [aten_data], [ate_id], [dep_id], [con_id], [log_id]) VALUES (2, 2, CAST(N'2024-11-18T10:20:10.593' AS DateTime), 2, 2, 3, 1)
SET IDENTITY_INSERT [dbo].[Atendimento] OFF
GO
SET IDENTITY_INSERT [dbo].[chat] ON 

INSERT [dbo].[chat] ([cha_id], [ate_id], [log_id], [con_id], [aten_id]) VALUES (1, 1, 1, 2, 1)
INSERT [dbo].[chat] ([cha_id], [ate_id], [log_id], [con_id], [aten_id]) VALUES (2, 2, 1, 3, 2)
SET IDENTITY_INSERT [dbo].[chat] OFF
GO
SET IDENTITY_INSERT [dbo].[contatos] ON 

INSERT [dbo].[contatos] ([con_id], [con_WaId], [con_nome], [con_DataCadastro], [con_BloqueadoStatus], [log_id]) VALUES (1, N'123456789', N'ContatoTeste', CAST(N'2024-07-23T22:31:35.673' AS DateTime), 0, 1)
INSERT [dbo].[contatos] ([con_id], [con_WaId], [con_nome], [con_DataCadastro], [con_BloqueadoStatus], [log_id]) VALUES (2, N'557988132044', N'Pedro Assenção', CAST(N'2024-11-18T09:36:16.050' AS DateTime), 0, 1)
INSERT [dbo].[contatos] ([con_id], [con_WaId], [con_nome], [con_DataCadastro], [con_BloqueadoStatus], [log_id]) VALUES (3, N'557991582028', N'Carlos Miguel??', CAST(N'2024-11-18T09:38:59.447' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[contatos] OFF
GO
SET IDENTITY_INSERT [dbo].[departamento] ON 

INSERT [dbo].[departamento] ([dep_id], [dep_descricao], [log_id]) VALUES (1, N'Suporte', 1)
INSERT [dbo].[departamento] ([dep_id], [dep_descricao], [log_id]) VALUES (2, N'Financeiro', 1)
INSERT [dbo].[departamento] ([dep_id], [dep_descricao], [log_id]) VALUES (3, N'teste1', 1)
SET IDENTITY_INSERT [dbo].[departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[login] ON 

INSERT [dbo].[login] ([log_id], [log_email], [log_senha], [log_img], [log_plano], [log_user], [log_tipo], [log_waid]) VALUES (1, N'master.123@123', N'c2VuYWkuMTIz', NULL, N'master', N'Master', 1, N'557999411293')
SET IDENTITY_INSERT [dbo].[login] OFF
GO
SET IDENTITY_INSERT [dbo].[Mensagens] ON 

INSERT [dbo].[Mensagens] ([mens_id], [mens_data], [mens_descricao], [men_tipo], [men_WaId], [mens_status], [con_id], [log_id], [cha_id]) VALUES (1, CAST(N'2024-11-18T09:36:16.263' AS DateTime), N'Uepa', 1, N'wamid.HBgMNTU3OTg4MTMyMDQ0FQIAEhggMDQ3OUVEMDYxNEQ1QjY5OTQ0RjU3RUEwOENCMzRBNzUA', 3, 2, 1, 1)
INSERT [dbo].[Mensagens] ([mens_id], [mens_data], [mens_descricao], [men_tipo], [men_WaId], [mens_status], [con_id], [log_id], [cha_id]) VALUES (2, CAST(N'2024-11-18T09:36:16.547' AS DateTime), N'MenuInicial', 1, N'wamid.HBgMNTU3OTg4MTMyMDQ0FQIAERgSN0NBRjZGNkFFOTc3NzdBRTVEAA==', 1, NULL, 1, 1)
INSERT [dbo].[Mensagens] ([mens_id], [mens_data], [mens_descricao], [men_tipo], [men_WaId], [mens_status], [con_id], [log_id], [cha_id]) VALUES (3, CAST(N'2024-11-18T09:36:42.537' AS DateTime), N'quero', 1, N'wamid.HBgMNTU3OTg4MTMyMDQ0FQIAERgSMjQzRDZFODJDQjE0MzNBMjU2AA==', 1, NULL, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Mensagens] OFF
GO
SET IDENTITY_INSERT [dbo].[menus] ON 

INSERT [dbo].[menus] ([men_id], [men_header], [men_footer], [men_body], [log_id], [men_tipo], [men_title]) VALUES (1, N'Empresas Senai', N'Todos direitos reservados', N'Seja Bem Vindo ao Nosso Robo de Atendimento, Antes de Falar Com Nossos Atendentes Por Favor Resposnda as Perguntas Abaixo Para Sabermos o Seu Problema, Tentaremos Resolver Sem Intervenção Humana Se Possivel!', 1, 1, N'MenuInicial')
INSERT [dbo].[menus] ([men_id], [men_header], [men_footer], [men_body], [log_id], [men_tipo], [men_title]) VALUES (2, N'Empresas Senai', N'Todos direitos reservados', N'Por Favor Escolha Qual Parte das Finança Voce Esta Tendo Problemas', 1, 2, N'Finanças')
INSERT [dbo].[menus] ([men_id], [men_header], [men_footer], [men_body], [log_id], [men_tipo], [men_title]) VALUES (3, N'Empresas Senai', N'Todos direitos reservados', N'Por Favor Escolha Qual Setor de Suporte Que Voce Deseja Ser Atendido', 1, 2, N'Suporte')
SET IDENTITY_INSERT [dbo].[menus] OFF
GO
SET IDENTITY_INSERT [dbo].[options] ON 

INSERT [dbo].[options] ([opt_id], [men_id], [log_id], [opt_data], [opt_descricao], [opt_finalizar], [opt_resposta], [opt_tipo], [opt_title]) VALUES (1, 1, 1, CAST(N'2024-07-23T22:31:35.673' AS DateTime), N'Referente a Financeiro', 0, N'2', 3, N'Financeiro')
INSERT [dbo].[options] ([opt_id], [men_id], [log_id], [opt_data], [opt_descricao], [opt_finalizar], [opt_resposta], [opt_tipo], [opt_title]) VALUES (2, 1, 1, CAST(N'2024-07-23T22:31:35.673' AS DateTime), N'Referente a Suporte', 0, N'3', 3, N'Suporte')
INSERT [dbo].[options] ([opt_id], [men_id], [log_id], [opt_data], [opt_descricao], [opt_finalizar], [opt_resposta], [opt_tipo], [opt_title]) VALUES (3, 1, 1, CAST(N'2024-07-23T22:31:35.673' AS DateTime), N'História do Senai Contada Pela IA e Interação Geral Com IA', 0, NULL, 4, N'História Senai')
SET IDENTITY_INSERT [dbo].[options] OFF
GO
ALTER TABLE [dbo].[atendentes]  WITH CHECK ADD  CONSTRAINT [fk_departamento] FOREIGN KEY([dep_id])
REFERENCES [dbo].[departamento] ([dep_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[atendentes] CHECK CONSTRAINT [fk_departamento]
GO
ALTER TABLE [dbo].[atendentes]  WITH CHECK ADD  CONSTRAINT [fk_login] FOREIGN KEY([log_id])
REFERENCES [dbo].[login] ([log_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[atendentes] CHECK CONSTRAINT [fk_login]
GO
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD  CONSTRAINT [fk_atendentes] FOREIGN KEY([ate_id])
REFERENCES [dbo].[atendentes] ([ate_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Atendimento] CHECK CONSTRAINT [fk_atendentes]
GO
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD  CONSTRAINT [fk_contatos] FOREIGN KEY([con_id])
REFERENCES [dbo].[contatos] ([con_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Atendimento] CHECK CONSTRAINT [fk_contatos]
GO
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD  CONSTRAINT [fk_departamento_atendimento] FOREIGN KEY([dep_id])
REFERENCES [dbo].[departamento] ([dep_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Atendimento] CHECK CONSTRAINT [fk_departamento_atendimento]
GO
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD  CONSTRAINT [fk_login_atendimento] FOREIGN KEY([log_id])
REFERENCES [dbo].[login] ([log_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Atendimento] CHECK CONSTRAINT [fk_login_atendimento]
GO
ALTER TABLE [dbo].[chat]  WITH CHECK ADD  CONSTRAINT [fk_atendentes_chat] FOREIGN KEY([ate_id])
REFERENCES [dbo].[atendentes] ([ate_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[chat] CHECK CONSTRAINT [fk_atendentes_chat]
GO
ALTER TABLE [dbo].[chat]  WITH CHECK ADD  CONSTRAINT [fk_atendimento_chat] FOREIGN KEY([aten_id])
REFERENCES [dbo].[Atendimento] ([aten_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[chat] CHECK CONSTRAINT [fk_atendimento_chat]
GO
ALTER TABLE [dbo].[chat]  WITH CHECK ADD  CONSTRAINT [fk_contatos_chat] FOREIGN KEY([con_id])
REFERENCES [dbo].[contatos] ([con_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[chat] CHECK CONSTRAINT [fk_contatos_chat]
GO
ALTER TABLE [dbo].[chat]  WITH CHECK ADD  CONSTRAINT [fk_login_chat] FOREIGN KEY([log_id])
REFERENCES [dbo].[login] ([log_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[chat] CHECK CONSTRAINT [fk_login_chat]
GO
ALTER TABLE [dbo].[contatos]  WITH CHECK ADD  CONSTRAINT [fk_login_contatos] FOREIGN KEY([log_id])
REFERENCES [dbo].[login] ([log_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[contatos] CHECK CONSTRAINT [fk_login_contatos]
GO
ALTER TABLE [dbo].[departamento]  WITH CHECK ADD  CONSTRAINT [fk_login_departamento] FOREIGN KEY([log_id])
REFERENCES [dbo].[login] ([log_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[departamento] CHECK CONSTRAINT [fk_login_departamento]
GO
ALTER TABLE [dbo].[Mensagens]  WITH CHECK ADD  CONSTRAINT [fk_chat_mensagens] FOREIGN KEY([cha_id])
REFERENCES [dbo].[chat] ([cha_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Mensagens] CHECK CONSTRAINT [fk_chat_mensagens]
GO
ALTER TABLE [dbo].[Mensagens]  WITH CHECK ADD  CONSTRAINT [fk_contatos_mensagens] FOREIGN KEY([con_id])
REFERENCES [dbo].[contatos] ([con_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Mensagens] CHECK CONSTRAINT [fk_contatos_mensagens]
GO
ALTER TABLE [dbo].[Mensagens]  WITH CHECK ADD  CONSTRAINT [fk_login_mensagens] FOREIGN KEY([log_id])
REFERENCES [dbo].[login] ([log_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Mensagens] CHECK CONSTRAINT [fk_login_mensagens]
GO
ALTER TABLE [dbo].[menus]  WITH CHECK ADD  CONSTRAINT [fk_login_menus] FOREIGN KEY([log_id])
REFERENCES [dbo].[login] ([log_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[menus] CHECK CONSTRAINT [fk_login_menus]
GO
ALTER TABLE [dbo].[options]  WITH CHECK ADD  CONSTRAINT [fk_login_options] FOREIGN KEY([log_id])
REFERENCES [dbo].[login] ([log_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[options] CHECK CONSTRAINT [fk_login_options]
GO
ALTER TABLE [dbo].[options]  WITH CHECK ADD  CONSTRAINT [fk_menus_options] FOREIGN KEY([men_id])
REFERENCES [dbo].[menus] ([men_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[options] CHECK CONSTRAINT [fk_menus_options]
GO
